
<article id="entry-{{ entry.eid }}" class="entry entry-{{ entry.eid }} entry-{{ entry.slug }}">
    <header>
        {% if entry.url is not empty %}
        <a class="heading" href="{{ entry.url }}">
            <span class="meta url">{{ entry.url }}</span>
            <h3>{{ entry.title }}</h3>
        </a>
        {% else %}
        <h3>{{ entry.title }}</h3>
        {% endif %}
        <span class="meta date"><a href="{{ url_for('entry', {'slug': entry.slug}) }}">{{ entry.date_formatted }}</a></span>
        {% if entry.url_edit is not empty %}&middot; <span class="meta edit"><a href="{{ entry.url_edit }}">edit</a></span>{% endif %}
    </header>
{{ entry.text | raw }}
    <ul class="tags">
        {% for tag in entry.tags %}
        <li class="tag tag-{{ tag.tid }} tag-{{ tag.slug }}"><a href="/tag/{{ tag.slug }}">{{ tag.title }}</a></li>
        {% endfor %}
    </ul>
</article>

